@font-face {
    font-family: 'Avenir';
    src: local('Avenir Black'), local('Avenir-Black'),
    url('../fonts/Avenir-Black.woff2') format('woff2'),
    url('../fonts/Avenir-Black.woff') format('woff'),
    url('../fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

header {
    background-color: #FFC700
}

input {
    font: inherit;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

body {
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

li {
    list-style-type: none;
}


.page-wrapper {
    padding: 0 80px;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    flex-wrap: wrap;
}

.logo {
    /*overflow: hidden;*/
    flex: 0 1 15%;
    /*position:relative;*/
    max-width: 120px;
    height: 90px;
}
.logo img{
    max-width: 100%;
    /*max-height: 100%;*/
    max-height: 100%;
    /*margin: 0 auto;*/
}
.header-inner-row{
    flex:0 1 85%;
}
.header-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.service-block{
    margin-top: 5px;
}

.dropdown {
    border-radius: 3px;
    height: 40px;
    background: black;
    min-width: 156px;
    max-width: 156px;
}

.dropdown-menu-item {
    position: relative;
    display: none;
}

.dropdown-menu-item:first-child {
    position: relative;
    display: block;
}

.dropdown-menu-item:first-child:after {
    content: '\f107';
    color: white;
    display: block;
    top: 12px;
    right: 8px;
    margin: auto;
    position: absolute;
    font-family: FontAwesome, serif;
    font-weight: 400;

}

.dropdown-menu-item a {
    display: block;
    color: white;
    position: absolute;
    padding: 10px 25px 8px 8px;
    font-size: 12px;
}

.searchbar {
    position: relative;
    /*box-sizing: border-box;*/
    overflow: hidden;
    min-width: 150px;
    flex-grow: 1;
}

.searchbar input {
    width: 93%;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 0 25px 0 10px;
}

.searchbar button {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 30%;
    right: 2%;
    border: none;
    background: transparent;
}

.searchbar button:before {
    content: '\f002';
    font-family: FontAwesome, serif;
}

.toggler {
    max-width: 80px;
    background: white;
    border-radius: 3px;
    min-width: 80px;
    height: 40px;
}

.toggler-inner {
    display: flex;
    position: relative;
    height: inherit;
}

.toggle-value {
    font-size: 12px;
    align-self: center;
    text-align: center;
    max-width: 40px;
    height: inherit;
    flex: 1 1 50%;
}

.switcher {
    position: absolute;
    width: 40px;
    background: black;
    height: 40px;
    border-radius: 3px;
    left: 40px;
}

.login {
    height: inherit;
    background: white;
    border-radius: 3px;
    padding:0 8px 0 25px;
}

.login a {
    display: block;
    font-stretch: normal;
    font-style: normal;
    padding: 5px 0;
    line-height: 2.21;
    letter-spacing: normal;
    color: #000000;
    position: relative;
}
.login a:before{
    content: '\f007';
    font-family: FontAwesome, serif;
    position: absolute;
    left: -16px;
}
.cart{
    max-height: 40px;
    border-radius: 3px;
    background: black;
    padding: 15px 22px 20px 50px;
    line-height: 1px;
}
.cart a{
    display: block;
    position: relative;
    color: white;

}
.cart a::before {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 20px;
    margin: auto 0;
    font-family: FontAwesome,serif;
    font-weight: 400;
    font-size: 24px;
    content: "\f07a";
}
.cart a::after{
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 0;
    font-family: FontAwesome,serif;
    font-weight: 400;
    content: "\f107";
}

.header-elements {
    display: flex;
}

.service-list{
    display: flex;
    margin-left: 165px;
    overflow: hidden;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.service-list li{
    font-size: 12px;
}
.service-list li:not(:last-child){
    margin-right: 10px;
}
.header-elements>div:not(:last-child){
    margin-right: 8px;
}

.main-content-row {
    display: flex;
    flex-direction: column;
}

.top-section-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 30px;
}

.top-section-row main {
    flex: 1 1 70%;
}

.top-section-row nav{
flex: 1 1 30%;
    /*min-width: 333px;*/
/*    flex: 1 1 30%;*/
}
.side li {
    margin-bottom: 15px;
    line-height: 1.2;
}

.items-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -7px;
}

.schedule-scheme{
    margin-top: 15px;
}
.schedule-info{
    width: 100%;
    display: table;
}
.schedule-scheme-top{
    position: relative;
}
.open::before{
    content: '\f017';
    position: absolute;
    font-size: 13px;
    left: -15px;
    font-family: FontAwesome,serif;
}
.phone::before{
    font-size: 13px;
    left: -15px;
    position: absolute;
    content: '\f095';
    font-family: FontAwesome,serif;
}
dt.days{
    display: table-cell;
    width: 25%;
    float:left;
}
dd.hours{
    display: table-cell;
    width: 75%;
    float: left;
}

.main-item {
    flex: 1 1 45%;
    padding-left: 7px;
    padding-bottom: 7px;
    min-width: 368px;
    /*box-sizing: border-box;*/

}
.small {
    flex: 1 1 33%;
    min-width: 253px;
}
.main-item:first-child{
    min-width: 515px;
}
.main-item:first-child .main-item-image{
    height: 145px;
    width: 205px;
    /*flex-shrink: 0;*/
    align-self: flex-end;
}
.main-item-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F5;
    padding: 0 25px 0 25px;
    min-height: 225px;
    border-radius: 5px;
    line-height: 1.31;
    flex-wrap: nowrap;
    /*box-sizing: border-box;*/
}

.main-item-header {
    /*flex: 1 1 46%;*/
}
.main-item-image{
    height: 85px;
    width: 120px;
}
.main-item-image img {
    max-width: 100%;
    max-height: 100%;
}
.block-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.block-title.big {
    font-size: 32px;
}

.item-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 3px;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #000;
}

.slider-section-row {
    margin-bottom: 50px;
    position: relative;
}

.slider-header {
    background: #F5F5F5;
    font-size: 32px;
    padding: 10px 30px;
}

.slider-items-inner {
    display: flex;
    position: relative;
    overflow: hidden;
}
.slider-button{
    position:absolute;
    border-radius: 50%;
    min-width: 35px;
    min-height: 35px;
    background: #FFC600;
    font-size: 21px;
    outline: none;
    border: none;
    color: white;
    z-index: 3;
    top: 45%;
}
.left{
    left: -22px;
}
.right{
    right: -22px;
}

.item-inner {
    border-top: 1px solid lightgray;
    background: #F5F5F5;
    flex: 0 0 20%;
}

.item-inner:not(:last-child) {
    border-right: 1px solid lightgray;
    box-sizing: border-box;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
}

.item-image {
    width: 170px;
    height: 95px;
    align-self: center;
    margin-bottom: 15px;
    /*padding: 40px 0;*/
}
.item-image img{
    max-width: 100%;
    max-height: 100%;
}

.item-name {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}
.item-price {
    font-size: 35px;
    line-height: 32px;
    /*padding: 20px 0;*/
}
.promotion{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 40px
}
.promotion-item{
    position: relative;
    flex-basis: 49.7%;
}
.promotion-image img{
    width: 100%;
    height: 100%;
}
.promotion-item{
    max-width: 100%;
    max-height: 100%;
}
.promotion-info{
    display: block;
    height: 100%;
    padding: 20px 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-shadow:0 0 9px #000000;
}
.promotion-info h2{
    font-size: 40px;
}
.footer-main{
    display: flex;
    flex-direction: column;
}
.footer-top-row{
    background: #F5F5F5;
}
.footer-top-content{
    display: flex;
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-item{
    flex: 0 0 20%;
}
.partners-wrapper{
    align-self: center;
}

.newsletter{
    display: flex;
    flex-direction: column;
}
.search-input .bottom{
    padding: 10px;
}
.footer-btn{
    text-align: center;
    line-height: 2.21;
    margin-top: 5px;
    min-width: 250px;
    font-weight: 700;
}

.newsletter-form{
    min-width: 250px;
    overflow: hidden;
}
.newsletter input{
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 0 10px 10px;
}

.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.partner-item{
    flex: 0 0 25%;
}
.bot-header{
    margin-bottom: 5px;
}
.footer-bot-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.stars{
    display: inline-block;
    color: #FFC600;
}
.review{
    display: inline-block;
    margin-left: 5px;
}
.footer-menu-item{
    display: inline-block;
    padding-left:5px;
    border-left: 2px solid black;
    /*text-decoration: underline;*/
}
.footer-menu-item:first-child{
    padding-left: 0px;
    border: none;
}

