@font-face {
    font-family: 'Avenir';
    src: local('Avenir Black'), local('Avenir-Black'),
    url('../fonts/Avenir-Black.woff2') format('woff2'),
    url('../fonts/Avenir-Black.woff') format('woff'),
    url('../fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

header {
    background-color: #ffc700;
}
input{
    font: inherit;
}
.hidden{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
body {
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}


.page-wrapper {
    padding: 0 60px;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}
.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}
.logo{
    flex: 0 1 25%;
}

.header-inner-row{
    flex: 1 1 75%;
}
.header-inner{
    display: flex;
    flex-direction: column;
}
.header-upper-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-upper-elements>div:not(:last-child){
    margin: 0 10px 0 0;
}

.dropdown-item {
    background: black;
    outline: none;
    height: 40px;
    padding: 8px 20px 8px 8px;
    min-width: 100px;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.search-bar {
    position: relative;
    flex-grow: 1;
    /*min-width: 150px;*/

}
.search-bar .search-input {
    width: 98%;
    height: 40px;
    padding-left: 8px;
    outline: none;
    border-radius: 5px;
    border: none;
}

input::placeholder {
    font-weight: 800;
}

.search-bar > form > input[type="submit"] {
    position: absolute;
    right: 12px;
    top: 12px;
    border: 0;
    width: 14px;
    height: 14px;
    background: url("../img/search-icon.png");
    background-size: 100%;
}

.switcher {
    background: white;
    border-radius: 5px;
    min-width: 80px;
    min-height: 40px;
    position: relative;
}
.switcher-inner{
    display: flex;
}
.switcher-tax {
    max-width: 40px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.33;
    text-overflow: clip;
}

.switcher-non-tax {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 40px;
    min-width: inherit;
    background-color: black;
    border-radius: 5px;
}

.login-btn {
    display: block;
    background: white;
    border-radius: 5px;
    height: 40px;
    /*box-sizing: content-box;*/
}

.login-link{
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    height: inherit;
    text-align: center;
    position: relative;
    padding: 0 10px 0 20px;
    /*width: 100%;*/
    /*padding: 0 15px;*/
}
.login-link:before{
    font-family: FontAwesome,serif;
    content: '\f007';
    background-size: 100%;
    position: absolute;
    width: 12px;
    height: 12px;
    line-height: 1.20;
    left: 7px;
}


.cart {
    display: block;
    height: 40px;
    max-width: 80px;
    min-width: 40px;
    font-size: 12px;
    background: black;
    padding: 0 10px 0 20px;
    line-height: 2.2;
    border-radius: 5px;
}
.cart-link {
    color: white;
    display: block;
    position: relative;
    height: inherit;
    text-align: center;
    /*min-width: 100%;*/
}
.cart-link:before{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/cart.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /*left: 15px;*/
    right: 30px;
    bottom: 10px;
}
.services ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.services ul li {
    font-size: 12px;
    margin-right: 10px;
}
.header-lower-wrapper{
    margin-top: 8px;
}
.main-content-row{
    display: flex;
    flex-direction: column;
}
.top-section-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 30px;
}
.top-section-row main{
    flex: 0 1 75%;
}
/*.top-section-row nav{*/
/*    !*flex-grow: 1;*!*/
/*    flex-basis: 280px;*/
/*    max-width: 310px;*/
/*    min-width: 180px;*/
/*    overflow: hidden;*/
/*}*/
.side li{
    margin-bottom: 10px;
}
.items-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -10px;
}
.main-item{
    flex: 1 1 50%;
    padding-left: 7px;
    padding-bottom: 7px;
    box-sizing: border-box;
}
.small{
    flex: 1 1 20%;
}
.schedule p {
    padding-bottom: 10px;
}
/*.schedule dt {*/
/*    padding-left: 25px;*/
/*}*/
/*.schedule dd{*/
/*    padding-left: 40px;*/
/*}*/
.schedule dt:nth-child(even){
    padding-top: 10px;
}
.main-item-inner{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F5;
    padding: 40px 30px;
    box-sizing: border-box;
    border-radius: 5px;
}
.main-item-header{
    flex: 0 1 50%;
}
.main-item-image{
    align-self: center;
}
.f-bot{
    align-self: flex-end;
}
.block-title{
    font-size: 24px;
    margin-bottom: 10px;
}
.block-title.big{
    font-size: 32px;
}
.item-btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 3px;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #000;
}
.slider-section-row{
    display: flex;
    flex-direction: column;
}
.slider-header{
    background: #F5F5F5;
    font-size: 32px;
    padding: 10px 30px;
}
.slider-items-inner{
    display: flex;
    position: relative;
    overflow: hidden;
}
.item-inner{
    border-top: 1px solid lightgray;
    background: #F5F5F5;
    flex: 0 0 20%;
}
.item-inner:not(:last-child){
    border-right: 1px solid lightgray;
}
.item{
    display: flex;
    flex-direction: column;
    padding: 0 35px;
}
.item-image{
    align-self: center;
    padding: 40px 0;
}
.item-name{
    font-size: 14px;
    line-height: 20px;

}
.item-price{
    font-size: 40px;
    line-height: 32px;
    padding: 20px 0;
}
.item-image>img{
    width: 116px;
    height: 80px;
}
